[Unit]
Description=Astro home webapp service to run as an SSR middleware with express.js
After=multi-user.target

[Service]
User=wass
Type=simple
ExecStart=node server/server.js
WorkingDirectory=/home/wass/websites/astro-home-control/
Restart=always
RestartSec=30s
Environment="SERVER=http://10.0.0.91:4000"
Environment="SERVER_HOST=10.0.0.91"
Environment="SERVER_PORT=4000"
Environment="MQTT_HOST=localhost"

[Install]
WantedBy=multi-user.target
