---
import Layout from "@/layout/Layout.astro";
import HeatSlider from "@/components/heat_slider.astro";

console.log("heat")

---
<Layout title="Heat" >
	<ul>
		<li>
			<HeatSlider name="livingroom"/>
		</li>
		<li>
			<HeatSlider name="bedroom"/>
		</li>
		<li>
			<HeatSlider name="kitchen"/>
		</li>
		<li>
			<HeatSlider name="office"/>
		</li>
	</ul>
</Layout>

<style>
	ul{
		display:flex;
		flex-direction: row;
		justify-content: center;
		gap: 2px;
		list-style: none;
		padding: 0px;
	}
	li{
		border-radius: 10px;
		background-color:rgb(112, 112, 112);
		overflow: hidden;
		box-shadow: 2px 1px 5px rgb(123, 123, 123);
	}
	li:hover{
		box-shadow: 4px 5px 5px #ccc;
	}
	
	</style>