---
import Layout from "@/layout/Layout.astro";
import HeatSlider from "@/components/heat_slider.astro";

console.log("heat main index.astro")

---
<Layout title="Heat" >
	<ul id="heat_page_ul" >
		<li>
			<HeatSlider name="livingroom"/>
		</li>
		<li>
			<HeatSlider name="bedroom"/>
		</li>
		<li>
			<HeatSlider name="kitchen"/>
		</li>
		<li>
			<HeatSlider name="office"/>
		</li>
	</ul>
</Layout>

<style>
	ul{
		display:flex;
		flex-direction: row;
		justify-content: center;
		gap: 2px;
		list-style: none;
		padding: 0px;
	}
	li{
		border-radius: 10px;
		background-color:rgb(112, 112, 112);
		overflow: hidden;
		box-shadow: 2px 1px 5px rgb(123, 123, 123);
	}
	li:hover{
		box-shadow: 4px 5px 5px #ccc;
	}
	
</style>

<script>
	import {event} from "../libs/client_utils"
	console.log("client:heat> script()")
	function dispatch_heat_state(data){
		Object.keys(data).forEach((name)=>{
			const panel = document.querySelector(`.panel[data-name="${name}"]`)
			console.log(`panel ${name} update`)
			event(panel,"update",data[name])
		})
	}
	function setup_sse(){
		const evtSource = new EventSource("/api/heat_events")
	
		evtSource.onmessage = (event) => {
			dispatch_heat_state(JSON.parse(event.data))
		}
		evtSource.onerror = (err) => {
			  console.error("EventSource failed:", err);
			  evtSource.close();
		};	
	}
	setup_sse()

</script>
