---
import Layout from "@/layout/Layout.astro";
import SwitchPanel from "@/components/switch_panel.astro";

---
<Layout title="Heat" >
	<ul>
		<li>
			<SwitchPanel name="mesh"/>
		</li>
		<li>
			<SwitchPanel name="lifx"/>
		</li>
		<li>
			<SwitchPanel name="poster"/>
		</li>
		<li>
			<SwitchPanel name="pc"/>
		</li>
	</ul>
</Layout>


<style>
ul{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	list-style: none;
	padding: 0px;
}
li{
	border-radius: 10px;
	background-color:brown;
	overflow: hidden;
}

</style>