---
import Layout from "@/layout/Layout.astro";

const pc_init = await fetch(import.meta.env.SERVER+'/api/pc').then((response) => response.json());

console.log(pc_init)

---
<Layout title="Heat" >
	<p>
		Devices Power control
	</p>
	<h1>PC</h1>
	<p>
		{pc_init.state}
	</p>
</Layout>
