---
import Layout from "@/layout/Layout.astro";
import SwitchPanel from "@/components/switch_panel.astro";

---
<Layout title="Heat" >
	<ul>
		<li>
			<SwitchPanel name="mesh"/>
		</li>
		<li>
			<SwitchPanel name="lifx"/>
		</li>
		<li>
			<SwitchPanel name="poster"/>
		</li>
		<li>
			<SwitchPanel name="pc"/>
		</li>
	</ul>
</Layout>


<style>
ul{
	display:flex;
	flex-direction: column;
	gap: 10px;
	list-style: none;
	margin-right:10px;
	padding: 0px;
}
li{
	border-radius: 10px;
	background-color:brown;
	width:100%;
	height:19vh;
	min-height: 160px;
	padding: 5px;
}

</style>