---
import Layout from "@/layout/Layout.astro";
import SwitchPanel from "@/components/switch_panel.astro";

console.log("power index.astro")
---
<Layout title="Heat" >
	<ul>
		<li>
			<SwitchPanel name="mesh"/>
		</li>
		<li>
			<SwitchPanel name="lifx"/>
		</li>
		<li>
			<SwitchPanel name="poster"/>
		</li>
		<li>
			<SwitchPanel name="pc"/>
		</li>
	</ul>
</Layout>


<style>
ul{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	list-style: none;
	padding: 0px;
}
li{
	border-radius: 10px;
	background-color:rgb(112, 112, 112);
	overflow: hidden;
    box-shadow: 2px 1px 10px rgb(123, 123, 123);
}
li:hover{
	box-shadow: 4px 5px 5px #ccc;
}

</style>