---
import Layout from "@/layout/Layout.astro";
import links from '@/config/menu_devices.json'

---
<Layout title="Heat" >
	<div class="cards">
		{links.map((card)=>(
			<div class="card">
				<a href={card.link} target="_blank">
					<div class="content">{card.label}</div>
				</a>
			</div>
		))}
	</div>
</Layout>

<style>
.cards{
	display: flex;
	gap: 1vw;
	flex-wrap: wrap;
}
.card{
	width:20vw;
	background-color: #bbb;
	border-radius: 5px;
	padding: 5px;
}
a{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	text-decoration: none;
}
.content{
	color: #333;
	flex-grow: 1;
	text-align: center;
	font-size: large;
}
</style>